.container{
    width: 250px;
    height: 200px;
    margin: auto;
    position: relative;
}
.card{
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition-property: all;
    transition-delay: .1s;
    transition-duration: 1s;
    transition-timing-function: ease-in;
}
.card .side{
   position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.card img{
    width: 100%;
    height: 100%;
}
.card:hover{
    transform: rotateY(180deg);
}
.card .back{
    transform: rotateY(180deg);
    text-align: center;
    line-height: 200px;
    background-image: linear-gradient(rgb(171, 38, 248),rgb(250, 205, 137));
    color: #ffffff;
    font-size: 150%;
    font-weight: bold;
}